/*rgb(139, 41, 252)*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.nav-container {
  width: 100%;
  height: 50px;
  background-color: #6e1bcc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container h2 {
  color: white;
  margin-left: 20px;
}
.nav-container h2 a {
  text-decoration: none;
  color: white;
}
.nav-container .menu-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}
.nav-container .menu-container a {
  text-decoration: none;
  color: silver;
  font-size: 18px;
}
.nav-container .menu-container a i {
  margin: 0 10px;
}
.nav-container .menu-container a:hover {
  color: #fff;
}
.nav-container .menu-container li a {
  text-decoration: none;
  color: silver;
}
.nav-container .menu-container li a:hover {
  color: #fff;
}

/*Styles for main view*/
.main-container {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-container .fecha-container {
  text-align: center;
  margin-top: 20px;
  width: 50%;
  height: 10vh;
  color: #3f3f3f;
}
.main-container .reloj-container {
  width: 50%;
  height: 20vh;
  text-align: center;
  color: #3f3f3f;
}
.main-container .reloj-container h1 {
  display: inline;
  font-size: 60px;
}
.main-container .reloj-container span {
  font-size: 30px;
}
.main-container .messages-container {
  height: 50px;
  border-color: red;
  border-radius: 10px;
  background-color: #ffcbcb;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease;
}
.main-container #messageError {
  height: 20px;
  padding: 4px 2px;
  margin-top: 5px;
  color: red;
  font-size: 12px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.63);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}

.modal-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  transform: scale(0.3);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  width: 350px;
  height: 200px;
}
.modal-container .modal-title {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-container .modal-title .close-modal {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: 0.3s background ease;
}
.modal-container .modal-title .close-modal:hover {
  background-color: #6e1bcc;
  color: #fff;
}
.modal-container .modal-title .close-modal:active {
  background-color: #c73aff;
}
.modal-container .modal-body {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-container .modal-body input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
.modal-container .modal-footer {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.modal-container .modal-footer button[type=button] {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
  border: 1px solid gray;
  background-color: #fff;
  color: #000;
}
.modal-container .modal-footer button[type=button]:hover {
  background-color: #dadada;
}
.modal-container .modal-footer button[type=submit] {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
  background-color: #6e1bcc;
  color: #fff;
}
.modal-container .modal-footer button[type=submit]:hover {
  background-color: #511369;
}

.modal-background-empleado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.63);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}

.modal-container-empleado {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  transform: scale(0.3);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  width: 450px;
  height: 480px;
}
.modal-container-empleado .modal-title-empleado {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-container-empleado .modal-title-empleado .close-modal-empleado {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: 0.3s background ease;
}
.modal-container-empleado .modal-title-empleado .close-modal-empleado:hover {
  background-color: #6e1bcc;
  color: #fff;
}
.modal-container-empleado .modal-title-empleado .close-modal-empleado:active {
  background-color: #c73aff;
}
.modal-container-empleado .modal-body-empleado {
  padding: 10px;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  align-content: space-around;
}
.modal-container-empleado .modal-body-empleado input,
.modal-container-empleado .modal-body-empleado select {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #6e1bcc;
  padding-left: 5px;
}
.modal-container-empleado .modal-body-empleado select {
  background-color: #fff;
}
.modal-container-empleado .modal-body-empleado select option:hover {
  background-color: #6e1bcc;
  color: #fff;
}
.modal-container-empleado .modal-body-empleado #dni {
  grid-column: 1/5;
}
.modal-container-empleado .modal-body-empleado #nombre {
  grid-column: 1/2;
}
.modal-container-empleado .modal-body-empleado #apellidos {
  grid-column: 2/4;
}
.modal-container-empleado .modal-body-empleado #celular {
  grid-column: 4/5;
}
.modal-container-empleado .modal-body-empleado #correo {
  grid-column: 1/3;
}
.modal-container-empleado .modal-body-empleado #direccion {
  grid-column: 3/5;
}
.modal-container-empleado .modal-body-empleado #horario {
  grid-column: 3/5;
}
.modal-container-empleado .modal-body-empleado #usuario {
  grid-column: 1/3;
}
.modal-container-empleado .modal-body-empleado #contrasena {
  grid-column: 3/5;
}
.modal-container-empleado .modal-body-empleado #rol {
  grid-column: 1/3;
}
.modal-container-empleado .modal-footer-empleado {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.modal-container-empleado .modal-footer-empleado button[type=button] {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
  border: 1px solid gray;
  background-color: #fff;
  color: #000;
}
.modal-container-empleado .modal-footer-empleado button[type=button]:hover {
  background-color: #dadada;
}
.modal-container-empleado .modal-footer-empleado button[type=submit] {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
  background-color: #6e1bcc;
  color: #fff;
}
.modal-container-empleado .modal-footer-empleado button[type=submit]:hover {
  background-color: #511369;
}

#btn-open-modal {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
  background-color: #6e1bcc;
  color: #fff;
  margin: 10px 0;
}
#btn-open-modal:hover {
  background-color: #511369;
}

table {
  width: 95%;
  font-size: 14px;
  color: #4d4d4d;
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid #c5c5c5;
}
table tr td {
  padding: 10px 5px;
  text-align: center;
}
table tr #operaciones {
  display: flex;
  justify-content: center;
  gap: 2px;
}
table tr #operaciones a, table tr #operaciones button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
  width: 40px;
  border: 1px solid #6e1bcc;
  background: none;
  text-decoration: none;
  color: #000;
}
table tr #operaciones a:visited, table tr #operaciones button:visited {
  color: #000;
}
table tr #operaciones a:hover, table tr #operaciones button:hover {
  background-color: #dadada;
}

.modal-background-horario {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.63);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}

.modal-container-horario {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  transform: scale(0.3);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  width: 450px;
  height: 300px;
}
.modal-container-horario .modal-title-horario {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-container-horario .modal-title-horario .close-modal-horario {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: 0.3s background ease;
}
.modal-container-horario .modal-title-horario .close-modal-horario:hover {
  background-color: #6e1bcc;
  color: #fff;
}
.modal-container-horario .modal-title-horario .close-modal-horario:active {
  background-color: #c73aff;
}
.modal-container-horario .modal-body-horario {
  padding: 10px;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  align-content: space-around;
}
.modal-container-horario .modal-body-horario input,
.modal-container-horario .modal-body-horario select {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #6e1bcc;
  padding-left: 5px;
}
.modal-container-horario .modal-body-horario select {
  background-color: #fff;
}
.modal-container-horario .modal-body-horario select option:hover {
  background-color: #6e1bcc;
  color: #fff;
}
.modal-container-horario .modal-footer-horario {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.modal-container-horario .modal-footer-horario button[type=button] {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
  border: 1px solid gray;
  background-color: #fff;
  color: #000;
}
.modal-container-horario .modal-footer-horario button[type=button]:hover {
  background-color: #dadada;
}
.modal-container-horario .modal-footer-horario button[type=submit] {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
  background-color: #6e1bcc;
  color: #fff;
}
.modal-container-horario .modal-footer-horario button[type=submit]:hover {
  background-color: #511369;
}

#btn-open-modal {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
  background-color: #6e1bcc;
  color: #fff;
  margin: 10px 0;
}
#btn-open-modal:hover {
  background-color: #511369;
}

table {
  margin-top: 10px;
  width: 95%;
  font-size: 14px;
  color: #4d4d4d;
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid #c5c5c5;
}
table tr td {
  padding: 10px 5px;
  text-align: center;
}
table tr #operaciones {
  display: flex;
  justify-content: center;
  gap: 2px;
}
table tr #operaciones a, table tr #operaciones button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
  width: 40px;
  border: 1px solid #6e1bcc;
  background: none;
  text-decoration: none;
  color: #000;
}
table tr #operaciones a:visited, table tr #operaciones button:visited {
  color: #000;
}
table tr #operaciones a:hover, table tr #operaciones button:hover {
  background-color: #dadada;
}

.chart-wrapper-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.chart-wrapper {
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  background-color: #f7f7f7;
  height: 450px;
  width: 400px;
}

.show-background {
  z-index: 100;
  opacity: 1;
}

.show-modal {
  opacity: 1;
  transform: scale(1);
}

/*Styles for login view*/
.login-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login-container .form-container {
  width: 300px;
  height: 400px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-container .form-container h2 {
  margin-bottom: 50px;
}
.login-container .form-container .input-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.login-container .form-container .input-container .input {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 0 5px;
  outline: none;
  display: flex;
}
.login-container .form-container .input-container .input .icon-container {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .form-container .input-container .input input {
  outline: none;
  padding: 0 5px;
  border: none;
  height: 100%;
  width: 90%;
}
.login-container .form-container .input-container p {
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: red;
  background-color: #fdebeb;
  margin-top: 5px;
}
.login-container .form-container input[type=submit] {
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #6e1bcc;
  color: #fff;
  height: 35px;
}
.login-container .form-container input[type=submit]:hover {
  background-color: #511369;
}
.login-container .form-container input[type=submit]:active {
  background-color: #c73aff;
}

/*Styles for dashboard*/
.dashboard-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
}
.dashboard-container .side-bar-container {
  width: 12%;
  min-width: 160px;
  height: 100%;
  background: #2c005f;
}
.dashboard-container .side-bar-container ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard-container .side-bar-container ul li {
  height: 30px;
  transition: background 0.2s ease;
}
.dashboard-container .side-bar-container ul li:hover {
  background-color: #6e1bcc;
}
.dashboard-container .side-bar-container ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
}
.dashboard-container .side-bar-container ul li a .icon {
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-container .side-bar-container ul li a .icon i {
  color: #fff;
}
.dashboard-container .side-bar-container ul #menu-reportes {
  overflow: hidden;
  transition: 0.2s ease;
}
.dashboard-container .side-bar-container ul #menu-reportes ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.dashboard-container .side-bar-container ul #menu-reportes ul li {
  color: white;
  padding-left: 25px;
}
.dashboard-container .side-bar-container ul #menu-reportes ul li:hover {
  background-color: #c73aff;
}
.dashboard-container .side-bar-container ul #menu-reportes ul li a {
  width: 100%;
  height: 100%;
  font-size: 12px;
}
.dashboard-container .side-bar-container ul #flecha {
  transition: 0.5s ease;
}
.dashboard-container .side-bar-container ul .show-sub-menu {
  height: 120px;
}
.dashboard-container .side-bar-container ul .rotar-flecha {
  transform: rotate(180deg);
}
.dashboard-container .content {
  width: 88%;
  height: 100%;
  padding: 10px;
}
.dashboard-container .content .default-view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-container .content #selectMes {
  width: 20%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #6e1bcc;
  padding-left: 5px;
}
.dashboard-container .content #btnFiltro {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
  display: initial;
  background-color: #6e1bcc;
  color: #fff;
}
.dashboard-container .content #btnFiltro:hover {
  background-color: #511369;
}

/*# sourceMappingURL=style.css.map */
