/*rgb(139, 41, 252)*/
$primary-color: rgb(110, 27, 204);
$primary-color-hover: rgb(81, 19, 105);
$primary-color-active: rgb(199, 58, 255);
$letter-color:rgb(63, 63, 63);
$secondary-color: rgb(255, 255, 255);
$font-nav-color: silver;
$font-nav-color-hover: #fff;

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  //color: $letter-color;
}


@mixin btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  transition: 0.2s background ease;
}
@mixin bg-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.63);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}
@mixin cont-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  transform: scale(0.3);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.nav-container {
  width: 100%;
  height: 50px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    color: white;
    margin-left: 20px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .menu-container {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    a {
      text-decoration: none;
      color: $font-nav-color;
      font-size: 18px;
      i{
        
        margin: 0 10px;
      }
      &:hover {
        color: $font-nav-color-hover;
      }
    }
    li a {
      text-decoration: none;
      color: $font-nav-color;
      &:hover {
        color: $font-nav-color-hover;
      }
    }
  }
}

/*Styles for main view*/
.main-container {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  .fecha-container{
    text-align: center;
    margin-top: 20px;
    width: 50%;
    height: 10vh;
    color:$letter-color;
  }
  .reloj-container{
    width: 50%;
    height: 20vh;
    text-align: center;
    color: $letter-color;
    h1{
      display: inline;
      font-size: 60px;
    }
    span{
      font-size: 30px;
    }
  }
  .messages-container{
    height: 50px;
    border-color: red;
    border-radius: 10px;
    background-color: rgb(255, 203, 203);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease;
  }
  #messageError{
    height: 20px;
    padding: 4px 2px;
    margin-top: 5px;
    color:red;
    font-size: 12px;
  }
}
.modal-background{
    @include bg-modal();
}

.modal-container {
  @include cont-modal();
  width: 350px;
  height: 200px;

  .modal-title {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .close-modal {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      outline: none;
      transition: 0.3s background ease;
      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
      &:active {
        background-color: $primary-color-active;
      }
    }
  }
  .modal-body {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    input {
      width: 100%;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid gray;
    }
  }
  .modal-footer {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    button[type="button"] {
      @include btn();
      border: 1px solid gray;
      background-color: #fff;
      color: #000;
      &:hover {
        background-color: rgb(218, 218, 218);
      }
    }
    button[type="submit"] {
      @include btn();
      background-color: $primary-color;
      color: #fff;
      &:hover {
        background-color: $primary-color-hover;
      }
    }
  }
}

@import "empleado";
@import "horario";
@import "estadisticas";

.show-background {
  z-index: 100;
  opacity: 1;
}
.show-modal {
  opacity: 1;
  transform: scale(1);
}

/*Styles for login view*/
.login-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .form-container {
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    h2 {
      margin-bottom: 50px;
    }
    .input-container {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      .input {
        width: 100%;
        height: 60%;
        border-radius: 10px;
        border: 1px solid gray;
        padding: 0 5px;
        outline: none;
        display: flex;
        .icon-container {
          width: 10%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        input {
          outline: none;
          padding: 0 5px;
          border: none;
          height: 100%;
          width: 90%;
        }
      }
      p {
        width: 100%;
        text-align: left;
        font-size: 12px;
        color: red;
        background-color: rgb(253, 235, 235);
        margin-top: 5px;
      }
    }
    input[type="submit"] {
      border: none;
      border-radius: 10px;
      outline: none;
      background-color: $primary-color;
      color: #fff;
      height: 35px;
      &:hover {
        background-color: $primary-color-hover;
      }
      &:active {
        background-color: $primary-color-active;
      }
    }
  }
}

/*Styles for dashboard*/
.dashboard-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  .side-bar-container {
    width: 12%;
    min-width: 160px;
    height: 100%;
    background: rgb(44, 0, 95);
    ul {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        height: 30px;
        transition: background 0.2s ease;
        &:hover {
          background-color: $primary-color;
        }
        a {
          text-decoration: none;
          color: #fff;
          display: flex;
          align-items: center;
          gap: 20px;
          .icon {
            font-size: 20px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
              color: #fff;
            }
          }
        }
      }
      #menu-reportes{
        overflow: hidden;
        transition: .2s ease;
        ul{
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap:0;
          li{
            color:$secondary-color;
            padding-left: 25px;
            
            &:hover{
              background-color: $primary-color-active;
            }
            a{
              width: 100%;
              height: 100%;
              font-size: 12px;
            }
          }
        }
      }
      #flecha{
        transition: .5s ease;
      }
      .show-sub-menu{
        height: 120px;
      }
      .rotar-flecha{
        transform: rotate(180deg);
      }
    }
  }
  .content {
    width: calc(100% - 12%);
    height: 100%;
    padding: 10px;
    .default-view{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #selectMes{
      width: 20%;
      height: 35px;
      border: none;
      outline: none;
      border-radius: 5px;
      border: 1px solid $primary-color;
      padding-left: 5px;
    }
    #btnFiltro{
      @include btn();
      display: initial;
      background-color: $primary-color;
      color: #fff;
      &:hover {
        background-color: $primary-color-hover;
      }
    }
  }

}

// sass src/scss/style.scss src/public/css/style.css --watch